<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <link 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
        crossorigin="anonymous"
    >
    <title>VueJS First Example</title>
    <style>
        .shooting-star-leave-to, .shooting-star-enter {
            transform: translateX(150px) rotate(30deg);
            opacity: 0;
        }
        .shooting-star-enter-active, .shooting-star-leave-active {
            transition: all .5s ease;
        }
        .neo-list-leave-to, .neo-list-enter {
            opacity: 0;
            transform: translateY(30px);
        }
        .neo-list-leave-active, .neo-list-enter-active {
            transition: all 1s linear;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="card mt-5">
                <h2 class="card-header">Near Earth Objects</h2>
                <transition name="shooting-star">
                    <div class="m-3" v-cloak v-if="numAsteroids > 0 && showSummary">
                            <span class="float-right">
                                <button class="btn btn-primary" @click="prevPage(prevLink)">Prev</button>
                                <button class="btn btn-primary" @click="nextPage(nextLink)">Next</button>
                            </span>
                        <p>Showing {{numAsteroids}} items</p>
                        <p>{{closestObject}} has the shortest miss distance.</p>
                    </div>
                </transition>
                <div class="m-3">
                    <p><a href="#" @click="showSummary = !showSummary">Show/Hide Summary</a></p>
                </div>
            <table class="table table-bordered table-striped">
                <thead class="thead-light">
                    <th>No.</th>
                    <th>Name</th>
                    <th>Close Approach Date</th>
                    <th>Miss Distance</th>
                    <th>Remove</th>
                </thead>
                    <tbody is="transition-group" tag="tbody" name="neo-list" v-cloak>
                    <tr v-for="(a, index) in asteroids" :key="a.neo_reference_id" :style="getRowStyle(a)" :class="getRowClass(a)">
                        <td>{{ index + 1 }}</td>
                        <td>{{ a.name }}</td>
                        <td>{{ getCloseApproachDate(a) }}</td>
                        <td>
                            <ul v-if="a.close_approach_data.length">
                                <li v-for="(val, key) in a.close_approach_data[0].miss_distance">
                                {{ key }}: {{ val }}
                                </li>
                            </ul>
                        </td>
                        <td><button class="btn btn-warning" @click="remove(index)">Remove</button></td>
                    </tr>
                </tbody>
            </table>
            <div class="col card-footer">
                <div class="text-center">You're on page {{ pageNumber }}</div>
                <span class="float-left"><button class="btn btn-primary" @click="prevPage(prevLink)">Prev</button></span>
                
                <span class="float-right"><button class="btn btn-primary" @click="nextPage(nextLink)">Next</button></span>
            </div>
        </div>
        </div>
    </div>
    


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        // Key: FBcPMWa38uC9UsoJ87OepErFkX77tLQXXPPEezLU
        // URL: https://api.nasa.gov/planetary/apod?api_key=FBcPMWa38uC9UsoJ87OepErFkX77tLQXXPPEezLU

        

        var vm = new Vue({
            el: '#app',
            data: {
                apiKey: 'FBcPMWa38uC9UsoJ87OepErFkX77tLQXXPPEezLU',
                url: 'https://api.nasa.gov/neo/rest/v1/neo/browse?api_key=',
                asteroids: [],
                nextLink: '',
                prevLink: '',
                totalElements: 0,
                pages: 0,
                pageNumber: 0,
                showSummary: true
            },
            created: function() {
                this.fetchAsteroids();
            },
            computed: {
                numAsteroids: function() {
                    return this.asteroids.length;
                },
                closestObject: function() {
                    var neosHavingData = this.asteroids.filter(function(neo) {
                        return neo.close_approach_data.length > 0;
                    });
                    var simpleNeos = neosHavingData.map(function (neo) {
                        return {name: neo.name, miles: neo.close_approach_data[0].miss_distance.miles};
                    });
                    var sortedNeos = simpleNeos.sort(function(a, b){
                        return a.miles - b.miles;
                    });
                    return sortedNeos[0].name;
                }
            },
            methods: {
                fetchAsteroids: function() {
                    if (this.url.length < 53) {
                        this.url = this.url + this.apiKey;
                    }
                    axios.get(this.url)
                        .then(function(res) {
                            // this would be different in this scope
                            vm.asteroids = res.data.near_earth_objects;//.slice(0, 20);
                            vm.nextLink = res.data.links.next;
                            vm.prevLink = res.data.links.prev;
                            vm.totalElements = res.data.page.total_elements;
                            vm.pages = res.data.page.total_pages;
                            vm.pageNumber = res.data.page.number + 1;
                        });
                },
                getCloseApproachDate: function(a) {
                    if (a.close_approach_data.length > 0) {
                       return a.close_approach_data[0].close_approach_date;
                    }
                    return 'Unknown';
                },
                remove: function(index) {
                    this.asteroids.splice(index, 1);
                },
                nextPage: function(url) {
                    this.url = url;
                    this.fetchAsteroids(false)
                },
                prevPage: function(url) {
                    this.url = url;
                    this.fetchAsteroids(false)
                },
                getRowStyle: function(a) {
                    if (a.close_approach_data.length == 0) {
                        return {
                            border: 'solid 3px red'
                        };
                    }
                },
                getRowClass: function(a) {
                    if (a.close_approach_data.length == 0) {
                        return 'table-danger';
                    }
                }
            }
        });

        
    </script>
</body>

</html>